@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div style="display: flex; justify-content: center; align-items: center; background-color: #0000FF;">
        <img src="nau.png" alt="NAU Country"  />
    </div>

    <MudDrawer Open="true">
        <MudDrawerHeader>
            <MudText>NAU Country Idea Hub</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
