﻿@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>NAU Country Idea Hub</PageTitle>

<MudThemeProvider Theme="NAUTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    
    <MudGrid>
        <MudItem xs="2"></MudItem>
        <MudItem xs="8">
            <div style="display: flex; justify-content: center; align-items: center; background-color: #FFFFFF;">
                <img src="nau.png" alt="NAU Country" />
            </div>
        </MudItem>
        @if (authenticatedUser != null)
        {
            <MudItem xs="2" Class="py-8">
                <MudText style="display: flex; justify-content: center; align-items: center;" Color="Color.Dark">WELCOME, @authenticatedUser.FirstName.ToUpper()</MudText>
            </MudItem>
        }
    </MudGrid>

    <div style="display: flex; justify-content: left; align-items: center; background-color: #00AEEF;">
        <MudButton OnClick="@ToggleDrawer" Color="Color.Primary"><img src="NavMenuToggle.png" alt="NAU Country" width="25" /></MudButton>
    </div>


    <MudDrawer @bind-Open="@openNavMenu">
        <MudDrawerHeader>
            <MudText>NAU Country Idea Hub</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {

    MudTheme NAUTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Primary = Colors.LightBlue.Accent3,
            Info = Colors.LightBlue.Accent3
        }
    };

    bool openNavMenu = false;
    User? authenticatedUser;

    void ToggleDrawer()
    {
        openNavMenu = !openNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<User>("AuthenticatedUser");
        authenticatedUser = result.Success ? result.Value : null;

    }



}