@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>NAU Country Idea Hub</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
    
<CascadingValue Value="this">
    <MudLayout>
        <MudGrid>
            <MudItem xs="2"></MudItem>
            <MudItem xs="8">
                <div style="display: flex; justify-content: center; align-items: center; background-color: #FFFFFF;">
                    <img src="nau.png" alt="NAU Country" />
                </div>
            </MudItem>
            <MudItem xs="2" Class="py-8">
                @if( username == null)
                {
                    <MudButton style="display: flex; justify-content: center; align-items: center;" Href="/auth" Color="Color.Primary">Log in</MudButton>
                }
                else
                {
                    <MudText>
                        Welcome @username <MudButton style="display: flex; justify-content: center; align-items: center;" OnClick="signOut" Color="Color.Primary">Sign out</MudButton>
                    </MudText>
                }
            </MudItem>
        </MudGrid>
    
        <div style="display: flex; justify-content: left; align-items: center; background-color: #00AEEF;">
            <MudButton OnClick="@ToggleDrawer" Color="Color.Primary"><img src="NavMenuToggle.png" alt="NAU Country" width="25"/></MudButton>
        </div>

        <MudDrawer Open="@openNavMenu">
            <MudDrawerHeader>
                <MudText>NAU Country Idea Hub</MudText>
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>

        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</CascadingValue>

@code{

    bool openNavMenu = false;

    private string username;
    // This object will present the value on the webpage

    public string Username // This value talks to the Authentication.razor.cs page
    {
        get => username; // Sets the object username to the value sent form Authentication.razor.cs
        set
        {
            username = value;
            InvokeAsync(() => StateHasChanged());
            // Rerenders the MainLayout.razor page updating the banner
        }
    }

    void ToggleDrawer()
    {
        openNavMenu = !openNavMenu;
    }

}