@page "/ideadescription/{id}"

<h3>IdeaDescription</h3>

<MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="goBack">Return to Idea List</MudButton>

@if (currentIdea != null)
{
    <MudGrid>
        <MudItem xs="6">
            <MudText><b>Idea name:</b> @currentIdea.Name</MudText>
            <MudText><b>Idea Description: </b> @currentIdea.Description</MudText>

            @if( liked )
            {
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="unLike">Remove like</MudButton>
            }
            else
            {
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="like">Like</MudButton>
            }

            @if( favorited)
            {
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="unFavorite">Remove Favorite</MudButton>
            }
            else
            {
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="favorite">Favorite</MudButton>
            }
        </MudItem>
        <MudItem xs="6">
            @if( loggedInUser != null && loggedInUser.IsAdmin)
            {
                <MudText>What would you like to do to this idea?</MudText>
                <MudGrid>
                    <MudItem><MudText>Close idea</MudText></MudItem>
                    <MudItem><MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="close">Close</MudButton></MudItem>
                </MudGrid>

                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="changeURL">Change URL</MudButton>

            }
        </MudItem>
    </MudGrid>
}
else
{
    <MudText>no current idea</MudText>
}

@if( loggedInUser != null)
{
    <MudText>Current logged user: @loggedInUser.FullName</MudText>
}
else{
    <MudText>Not logged in.</MudText>
}

@code {

}
