@page "/reporting"
@using MudBlazor
@inject NAUIdeaHub.Services.IMailService MailService

<PageTitle>Reporting</PageTitle>

<h3>Reporting</h3>

<MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="TestEmail">Test Email</MudButton>

<MudText>@authenticatedUser.FullName</MudText>

@code {
    User? authenticatedUser;

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<User>("AuthenticatedUser");
        authenticatedUser = result.Success ? result.Value : null;
    }



    private async Task TestEmail()
    {
        await MailService.SendEmailAsync("brandongrossman@grossmanbrandon.com", "test", "test");
    }
    
}
